useDynLib(PReMiuMlongi)
exportPattern("^[[:alpha:]]+")

importFrom("graphics", "axis", "mtext", "par", "plot", "plot.new", "plot.window", "rect", "text")
importFrom("grDevices", "colorRampPalette", "dev.off", "pdf", "png", "rainbow")
importFrom("stats", "density", "heatmap", "median", "na.omit", "optim", "quantile", "rmultinom", "rnorm", "rpois", "runif", "var", "kernel", "rbinom", "reorder", "sigma", "time")
importFrom("utils", "head", "read.table", "tail", "write.table")

importFrom(grid,grid.layout, grid.newpage, pushViewport, viewport)
importFrom(gamlss.dist,rWEI2)
importFrom(stringr, str_detect)
import(mvtnorm)
import(cluster)
import(Rcpp)
import(RcppEigen)
import(ggplot2)
import(dplyr)
import(pheatmap)
importFrom(stats, sd)


